body {
    background-color: lightgrey;
}

#over
{
	font-size:5em;
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:999999;
}

#front
{
	position:fixed;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	width:100%;
	height:100%;
	border:none;
	margin:0;
	padding:0;
	overflow:hidden;
	z-index:999998;
}